:root {
  --form_bg: #ffffff;
  --input_bg: #E5E5E5;
  --input_hover:#eaeaea;
  --submit_bg: #0082e6;
  --submit_hover: #1b9bff;
  --icon_color:#6b6b6b;
}
*{
  padding: 0;
   margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
  font-weight: bold;
}
label.logo{
  color: white;
  font-size: 2.5rem;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-family: "Ubuntu";
  cursor: pointer;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.nav-link.active,.nav-link:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){ 
  .checkbtn{
    display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    .nav-link:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
}

.title-container{
  width: 600px;
  height: 70px;
  margin-left: 20px;
  padding: 5px;
}

.big-heading{
  font-family: "Montserrat";
  font-size: 3.5vw;
  line-height: 1.5;
  text-align: left;
  color: white;
}

.form_wrapper {
  width: 480px;
  height: 550px;
  /* this will help us center it*/
  margin: 5px 40px 100px 700px;
  margin-top: 70px;
  margin-right: 500px;
  right: 100px;
  float: right;
  background-color: var(--form_bg);
  border-radius: 50px;
  /* make it a grid container*/
  grid-template-columns: 1fr 1fr;
  grid-gap: 5vw;
  /* add some padding around */
  padding: 5vh 10px;
}


#form_right {
  margin-left: 35px;
  display: grid;
  grid-gap: 15px;
  padding: 10px 5px;
  width: 400px;
}

/* And this is the style for the input tags: */

.input_container {
  background-color: var(--input_bg);
  /* vertically align icon and text inside the div*/
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.input_container:hover {
  background-color: var(--input_hover);
}

.input_container,
#input_submit {
  height: 50px;
  /* make the borders more round */
  border-radius: 30px;
  width: 100%;
}

.input_field {
  /* customize the input tag with lighter font and some padding*/
  color: var(--icon_color);
  background-color: inherit;
  width: 85%;
  border: none;
  outline:none;
  font-size: 1.3rem;
  font-weight: 400;
  padding-left: 30px;
}

.input_field:hover,
.input_field:focus {
  /* remove the outline */
  outline: none;
}

#input_submit {
  /* submit button has a different color and different padding */
  background-color: var(--submit_bg);
  padding-left: 0;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

#input_submit:hover {
  background-color: var(--submit_hover);
  /* simple color transition on hover */
  transition: background-color,
      1s;
  cursor: pointer;
}

/* Now let's finish by styling our h1 and our span and a tags */

h1,
span {
    text-align: center;
}

/* shift it a bit lower */
#create_account {
    display: block;
    position: relative;
}

.forgot-pass, .create-account {
    /* remove default underline */
    text-decoration: none;
    color: var(--submit_bg);
    font-weight: bold;
}

.create-account:hover, .forgot-pass:hover {
    color: rgb(38, 120, 175);
}

i {
    color: var(--icon_color);
}


section{
  background: url(bg2.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 50px);
  /* opacity: 0.8; */
}

.row {
  width: 530px;
  position: absolute;
  display: flex;
  top: 516px;
  left: 20px;
}
/* Create three equal columns that sits next to each other */
.column {
  flex: 25%;
  padding: 5px;
}

#footer{
  position: relative;
  text-align: center;
  background-color: #0082e6;
  padding: 4% 15%;
}

.social-icon{
  color: white;
  margin: 5px 10px;
  cursor: pointer;
  
}
.copyright{
  color: white;
  font-size: 17px;
}


  
